//@import './node_modules/bulma/bulma.sass';
/* Import the rest of Bulma */
@import '~bulma';

@import './node_modules/bulma-slider/src/sass/index.sass';

html {
  //background: rgba(0, 0, 0, 0) radial-gradient(circle at center top, #f3f6f7, #F0F2F7) repeat fixed 0 0% / cover;
  background: #F0F2F7;
}

body {
  font-family: 'Nunito', sans-serif;
}

.notification {
  &.is-primary {
    &.is-outlined {
      border: 1px solid $primary;
      color: $text;
      background: none;
    }
  }
}

.coming-soon {
  width: 550px;
  max-width: 100%;
  margin: 0 auto;
}

.loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  opacity: 0;
  z-index: -1;
  transition: opacity .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;

  .loader {
    height: 80px;
    width: 80px;
  }

  &.is-active {
    opacity: 1;
    z-index: 1;
  }
}

.block-shadow {
  //box-shadow: rgba(20, 1, 8, 0.15) -2px 2px 4px inset, rgb(255, 255, 255) 2px -2px 4px inset;
  box-shadow: inset -4px -4px 10px 0 #FFFFFF, inset 4px 4px 10px 0 #CDD4E6;
  border-radius: 6px;
  padding: 24px;
  position: relative;
}
.block-shadow-outside {
  border-radius: 13px;
  box-shadow: -4px -4px 10px 0 #FFFFFF, 4px 4px 10px 0 #CDD4E6;
  padding: 16px 16px;
}

.block-title {
  font-size: 18px !important;
  text-align: center;
  border-bottom: 2px solid #CDD4E6;
  padding-bottom: 20px;
  margin-top: 10px;
}

.tag:not(body).is-accent {
  color: black;
  background-color: $accent;
}

.connect-wallet {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  width: 149px;
  padding-bottom: 60px;
}

.modal-card-title {
  margin-bottom: 0 !important;
}

.modal-card-body {
  border-radius: 0 !important;
}

.is-horizontal-center {
  justify-content: center;
}

@media all and (max-width: 1024px) {
  .content {
    padding: 12px;
  }
}

@media all and (max-width: 770px) {
  .notification {
    height: 110px !important;
    .is-pulled-left {
      width: 100%;
      text-align: center;
    }
    .notif-btn {
      width: 100%;
      text-align: center;
      div, button {
        margin-top: 20px;
      }
    }
  }
}

