//@import './node_modules/bulma/bulma.sass';
/* Import the rest of Bulma */
@import '~bulma';

@import './node_modules/bulma-slider/src/sass/index.sass';

html {
  background: rgba(0, 0, 0, 0) radial-gradient(circle at center top, #f3f6f7, #F0F2F7) repeat fixed 0 0% / cover;
}

body {
  font-family: 'Nunito', sans-serif;
}

.loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  opacity: 0;
  z-index: -1;
  transition: opacity .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;

  .loader {
    height: 80px;
    width: 80px;
  }

  &.is-active {
    opacity: 1;
    z-index: 1;
  }
}

.block-shadow {
  box-shadow: rgba(20, 1, 8, 0.15) -2px 2px 4px inset, rgb(255, 255, 255) 2px -2px 4px inset;
  border-radius: 6px;
  padding: 24px;
}

.block-title {
  font-size: 18px !important;
  text-align: center;
  border-bottom: 1px solid #CCC;
  padding-bottom: 20px;
  margin-top: 10px;
}

.connect-wallet {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  width: 149px;
  padding-bottom: 60px;
}

.modal-card-title {
  margin-bottom: 0 !important;
}

.modal-card-body {
  border-radius: 0 !important;
}

.is-horizontal-center {
  justify-content: center;
}

