//@import './node_modules/bulma/bulma.sass';
/* Import the rest of Bulma */
@import '~bulma';

@import './node_modules/bulma-slider/src/sass/index.sass';
@import './node_modules/bulma-tooltip/src/sass/index.sass';

html {
  //background: rgba(0, 0, 0, 0) radial-gradient(circle at center top, #f3f6f7, #F0F2F7) repeat fixed 0 0% / cover;
  background: #F0F2F7;
}

a {
  outline: 0;
}

.notification {
  &.is-primary {
    &.is-outlined {
      border: 2px solid $primary;
      color: $text;
      background: none;
    }
  }
}

.icon {
  img {
    max-height: 100%;
  }
}

.symbol {
  font-size: 0.7em;
  font-weight: 400 !important;
}

.coming-soon {
  width: 550px;
  max-width: 100%;
  margin: 0 auto;
}

.loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  opacity: 0;
  z-index: -1;
  transition: opacity .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;

  .loader {
    height: 80px;
    width: 80px;
  }

  &.is-active {
    opacity: 1;
    z-index: 1;
  }
}

.box {
  position: relative;
  &.has-shadow-outside {
     box-shadow: $box-shadow-outside;
  }
  &.is-narrow {
    padding: 16px;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  &.has-no-shadow {
    box-shadow: none;
  }
}

.box-title {
  text-align: center;
  border-bottom: 2px solid #CDD4E6;
  padding-bottom: 20px;
  margin-top: 10px;
}

.collapsible {
  overflow: hidden;
  height: 28px;
  border-top: 1px solid black;
  padding: 10px;
  overflow: hidden;
  legend {
    cursor: pointer;
    padding: 0 3px;
    a:before {
      content: "+ "
    }
  }
  &.is-expanded {
    height: auto;
    border: 1px solid black;
    legend {
      a:before {
        content: "-"
      }
    }
  }
}

.file-name {
  background: white;
}

.button {
  &.is-wide {
    min-width: 200px;
  }
}

.tabs ul {
  margin-top: 0;
  margin-left: 0;
}

.notif-w-btn {
  height: 66px;

  .notif-btn {
    margin-top: -8px;
    margin-right: -12px;
  }
}

.tag:not(body).is-accent {
  color: black;
  background-color: $accent;
}

.modal-card-title {
  margin-bottom: 0 !important;
}

.modal-card-body {
  border-radius: 0 !important;
}

.is-horizontal-center {
  justify-content: center;
}
@keyframes moveGradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -200% 0%;
  }
}
@keyframes glow {
  from {
    box-shadow: -4px -4px 10px 0 #FFFFFF, 4px 4px 10px 0 #CDD4E6, 0px 0px 25px -22px #71E3C0;
  }
  to {
    box-shadow: -4px -4px 10px 0 #FFFFFF, 4px 4px 10px 0 #CDD4E6, 0px 0px 40px 18px #71E3C0;
  }
}
@keyframes glow-1 {
  from {
    box-shadow: -4px -4px 10px 0 #FFFFFF, 4px 4px 10px 0 #CDD4E6, 0px 0px 25px -22px #71E3C0;
  }
  to {
    box-shadow: -4px -4px 10px 0 #FFFFFF, 4px 4px 10px 0 #CDD4E6, 0px 0px 40px 18px #71E3C0;
  }
}
@keyframes glow-2 {
  from {
    box-shadow: -4px -4px 10px 0 #FFFFFF, 4px 4px 10px 0 #CDD4E6, 0px 0px 25px -22px #F8D247;
  }
  to {
    box-shadow: -4px -4px 10px 0 #FFFFFF, 4px 4px 10px 0 #CDD4E6, 0px 0px 40px 18px #F8D247;
  }
}
@keyframes glow-3 {
  from {
    box-shadow: -4px -4px 10px 0 #FFFFFF, 4px 4px 10px 0 #CDD4E6, 0px 0px 25px -22px #57C0F9;
  }
  to {
    box-shadow: -4px -4px 10px 0 #FFFFFF, 4px 4px 10px 0 #CDD4E6, 0px 0px 40px 18px #57C0F9;
  }
}
@keyframes glow-4 {
  from {
    box-shadow: -4px -4px 10px 0 #FFFFFF, 4px 4px 10px 0 #CDD4E6, 0px 0px 25px -22px #8026F5;
  }
  to {
    box-shadow: -4px -4px 10px 0 #FFFFFF, 4px 4px 10px 0 #CDD4E6, 0px 0px 40px 18px #8026F5;
  }
}
@keyframes glow-5 {
  from {
    box-shadow: -4px -4px 10px 0 #FFFFFF, 4px 4px 10px 0 #CDD4E6, 0px 0px 25px -22px #EA36AC;
  }
  to {
    box-shadow: -4px -4px 10px 0 #FFFFFF, 4px 4px 10px 0 #CDD4E6, 0px 0px 40px 18px #EA36AC;
  }
}
@keyframes glow-6 {
  from {
    box-shadow: -4px -4px 10px 0 #FFFFFF, 4px 4px 10px 0 #CDD4E6, 0px 0px 25px -22px #FB2B11;
  }
  to {
    box-shadow: -4px -4px 10px 0 #FFFFFF, 4px 4px 10px 0 #CDD4E6, 0px 0px 40px 18px #FB2B11;
  }
}
@keyframes glow-7 {
  from {
    box-shadow: -4px -4px 10px 0 #FFFFFF, 4px 4px 10px 0 #CDD4E6, 0px 0px 25px -22px #000000;
  }
  to {
    box-shadow: -4px -4px 10px 0 #FFFFFF, 4px 4px 10px 0 #CDD4E6, 0px 0px 40px 18px #000000;
  }
}
@keyframes glow-8 {
  from {
    box-shadow: -4px -4px 10px 0 #FFFFFF, 4px 4px 10px 0 #CDD4E6, 0px 0px 25px -22px #F8D247;
  }
  to {
    box-shadow: -4px -4px 10px 0 #FFFFFF, 4px 4px 10px 0 #CDD4E6, 0px 0px 40px 18px #F8D247;
  }
}
@keyframes glow-9 {
  from {
    box-shadow: -4px -4px 10px 0 #FFFFFF, 4px 4px 10px 0 #CDD4E6, 0px 0px 25px -22px #F8D247;
  }
  to {
    box-shadow: -4px -4px 10px 0 #FFFFFF, 4px 4px 10px 0 #CDD4E6, 0px 0px 40px 18px #F8D247;
  }
}
@keyframes glow-10 {
  from {
    box-shadow: -4px -4px 10px 0 #FFFFFF, 4px 4px 10px 0 #CDD4E6, 0px 0px 25px -22px #F8D247;
  }
  to {
    box-shadow: -4px -4px 10px 0 #FFFFFF, 4px 4px 10px 0 #CDD4E6, 0px 0px 40px 18px #F8D247;
  }
}
.rank-icon {
  position: absolute;
  right:20px;
  top:20px;
  &:before {
    position: absolute;
    top: 40%;
    left: 50%;
    display:block;
    content: "";
    animation: glow 1s infinite alternate ease-out;
  }
  &.rank-1:before {
    animation: glow-1 1s infinite alternate ease-out;
  }
  &.rank-2:before {
    animation: glow-2 1s infinite alternate ease-out;
  }
  &.rank-3:before {
    animation: glow-3 1s infinite alternate ease-out;
  }
  &.rank-4:before {
    animation: glow-4 1s infinite alternate ease-out;
  }
  &.rank-5:before {
    animation: glow-5 1s infinite alternate ease-out;
  }
  &.rank-6:before {
    animation: glow-6 1s infinite alternate ease-out;
  }
  &.rank-7:before {
    animation: glow-7 1s infinite alternate ease-out;
  }
  &.rank-8:before {
    animation: glow-8 1s infinite alternate ease-out;
  }
  &.rank-9:before {
    animation: glow-9 1s infinite alternate ease-out;
  }
  &.rank-10:before {
    animation: glow-10 1s infinite alternate ease-out;
  }
}
.rank-title {
  font-size: 25px;
  text-align: center;
  margin-top: 10px;

  &:after {
    margin-top:20px;
    height: 2px;
    display:block;
    width: 100%;
    content: "";
    background: #CDD4E6;
  }
  &.small {
    font-size:16px;
    &:after {
      height: 1px;
      margin-top: 8px;
    }
  }
  &.rank-1:after {
    background: #71E3C0;
  }
  &.rank-2:after {
    background: #F8D247;
  }
  &.rank-3:after {
    background: #57C0F9;
  }
  &.rank-4:after {
    background: #8026F5;
  }
  &.rank-5:after {
    background: #EA36AC;
  }
  &.rank-6:after {
    background: #FB2B11;
  }
  &.rank-7:after {
    background: #000000;
  }
  &.rank-8:after {
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(255, 0, 0) 0%, rgb(255, 154, 0) 10%, rgb(208, 222, 33) 20%, rgb(79, 220, 74) 30%, rgb(63, 218, 216) 40%, rgb(47, 201, 226) 50%, rgb(28, 127, 238) 60%, rgb(95, 21, 242) 70%, rgb(186, 12, 248) 80%, rgb(251, 7, 217) 90%, rgb(255, 0, 0) 100%) repeat scroll 0% 0% / 300% 300%;
    background-size: 200%;
    animation: moveGradient 3s linear infinite;
  }
  &.rank-9:after {
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(255, 0, 0) 0%, rgb(255, 154, 0) 10%, rgb(208, 222, 33) 20%, rgb(79, 220, 74) 30%, rgb(63, 218, 216) 40%, rgb(47, 201, 226) 50%, rgb(28, 127, 238) 60%, rgb(95, 21, 242) 70%, rgb(186, 12, 248) 80%, rgb(251, 7, 217) 90%, rgb(255, 0, 0) 100%) repeat scroll 0% 0% / 300% 300%;
    background-size: 200%;
    animation: moveGradient 3s linear infinite;
  }
  &.rank-10:after {
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(255, 0, 0) 0%, rgb(255, 154, 0) 10%, rgb(208, 222, 33) 20%, rgb(79, 220, 74) 30%, rgb(63, 218, 216) 40%, rgb(47, 201, 226) 50%, rgb(28, 127, 238) 60%, rgb(95, 21, 242) 70%, rgb(186, 12, 248) 80%, rgb(251, 7, 217) 90%, rgb(255, 0, 0) 100%) repeat scroll 0% 0% / 300% 300%;
    background-size: 200%;
    animation: moveGradient 3s linear infinite;
  }
}

.faded {
  opacity: 0.5;
}

.rainbow-btn {
  background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(255, 0, 0) 0%, rgb(255, 154, 0) 10%, rgb(208, 222, 33) 20%, rgb(79, 220, 74) 30%, rgb(63, 218, 216) 40%, rgb(47, 201, 226) 50%, rgb(28, 127, 238) 60%, rgb(95, 21, 242) 70%, rgb(186, 12, 248) 80%, rgb(251, 7, 217) 90%, rgb(255, 0, 0) 100%) repeat scroll 0% 0% / 300% 300%;
  background-size: 200%;
  animation: moveGradient 3s linear infinite;
  color: #000;
  font-weight: bold;
}

@media all and (max-width: 1024px) {
  .content {
    padding: 12px;
  }
}

@media all and (max-width: 770px) {
  .notification {
    height: 110px !important;
    .is-pulled-left {
      width: 100%;
      text-align: center;
    }
    .notif-btn {
      width: 100%;
      text-align: center;
      div, button {
        margin-top: 20px;
      }
    }
  }
}
