//@import './node_modules/bulma/bulma.sass';
/* Import the rest of Bulma */
@import '~bulma';

@import './node_modules/bulma-slider/src/sass/index.sass';

html {
  //background: rgba(0, 0, 0, 0) radial-gradient(circle at center top, #f3f6f7, #F0F2F7) repeat fixed 0 0% / cover;
  background: #F0F2F7;
}

body {
  font-family: 'Nunito', sans-serif;
}

a {
  outline: 0;
}

.notification {
  &.is-primary {
    &.is-outlined {
      border: 2px solid $primary;
      color: $text;
      background: none;
    }
  }
}

.coming-soon {
  width: 550px;
  max-width: 100%;
  margin: 0 auto;
}

.loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  opacity: 0;
  z-index: -1;
  transition: opacity .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;

  .loader {
    height: 80px;
    width: 80px;
  }

  &.is-active {
    opacity: 1;
    z-index: 1;
  }
}

.box {
  position: relative;
  &.has-shadow-outside {
     box-shadow: $box-shadow-outside;
  }
}

.box-title {
  text-align: center;
  border-bottom: 2px solid #CDD4E6;
  padding-bottom: 20px;
  margin-top: 10px;
}

.block-shadow-outside {
  border-radius: 13px;
  box-shadow: -4px -4px 10px 0 #FFFFFF, 4px 4px 10px 0 #CDD4E6;
  padding: 16px 16px;
}

.button {
  &.is-wide {
    min-width: 200px;
  }
}

.notif-w-btn {
  height: 66px;

  .notif-btn {
    margin-top: -8px;
    margin-right: -12px;
  }
}

.tag:not(body).is-accent {
  color: black;
  background-color: $accent;
}

.modal-card-title {
  margin-bottom: 0 !important;
}

.modal-card-body {
  border-radius: 0 !important;
}

.is-horizontal-center {
  justify-content: center;
}

@media all and (max-width: 1024px) {
  .content {
    padding: 12px;
  }
}

@media all and (max-width: 770px) {
  .notification {
    height: 110px !important;
    .is-pulled-left {
      width: 100%;
      text-align: center;
    }
    .notif-btn {
      width: 100%;
      text-align: center;
      div, button {
        margin-top: 20px;
      }
    }
  }
}
