/* Import Bulma Utilities */
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://use.typekit.net/kej5qyk.css');

$family-sans-serif: 'Inter', sans-serif;
$family-secondary: 'p22-mackinac-pro',serif;

// Colors
$primary: #101D56;
$secondary: #1148EB;
$secondary-invert: findColorInvert($secondary) !default;
$accent: #d7ac00;
$accent-invert: findColorInvert($accent) !default;;

$custom-colors: (
  "secondary":($secondary, $secondary-invert),
  "accent":($accent, $accent-invert),
);

$text: #363636;
// $body-background-color: #FFFDF7;

$link: $secondary;
$link-hover: lighten($secondary, 20%);
$link-focus: lighten($secondary, 20%);
$link-active: lighten($secondary, 20%);

$title-weight: 400;
$title-color: $primary;
//$subtitle-color: $secondary;
$title-family: $family-secondary;
$subtitle-family: $family-sans-serif;

$desktop: 828px;

$footer-background-color: initial;

$box-background-color: initial;
$box-padding: 1.4rem;
$box-shadow: inset -4px -4px 10px 0 #FFFFFF, inset 4px 4px 10px 0 #CDD4E6;
$box-shadow-outside: -4px -4px 10px 0 #FFFFFF, 4px 4px 10px 0 #CDD4E6;

$table-background-color: transparent;

