/* Import Bulma Utilities */
@import '~bulma/sass/utilities/initial-variables';

// Colors
$primary: #243454;
$secondary: #86BFD9;
$accent: #39e7bf;
$info: $accent;
$link: $blue;

$desktop: 840px;

$footer-background-color: initial;

$box-background-color: initial;
$box-padding: 1.4rem;
$box-shadow: inset -4px -4px 10px 0 #FFFFFF, inset 4px 4px 10px 0 #CDD4E6;
$box-shadow-outside: -4px -4px 10px 0 #FFFFFF, 4px 4px 10px 0 #CDD4E6;

